.catebannerImg {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bannerPara {
  width: 100%;
  position: absolute;
  /* left: 20px; */
  bottom: -70px;
  padding-top: 6rem;
  box-shadow: inset 10px -123px 51px -28px rgb(14 13 13 / 81%);
  padding-bottom: 1rem;
  padding-left: 40px;
  color: white;
}
.leftBanner {
  position: relative;
  overflow: hidden;
}
.rightBanner {
  position: relative;
  overflow: hidden;
}
.bannerPara .leftparaText {
  /* display: none; */
  opacity: 0;
}
.bannerPara .rightparaText {
  /* display: none; */
  opacity: 0;
}
.rightBanner:hover .rightparaText {
  display: block;

  color: red;
}
.leftBanner:hover .leftparaText {
  display: block;
}
