.LifestyleSect {
  max-width: 1600px;
}
.LifestyleSect h2:hover {
  color: #8f43d5;
}
.lifestyles h1 {
  font-size: 15px;
  border-bottom: #f18510 3px solid;

  margin-right: 25rem;
  margin-left: 2rem;
}
.postman1 {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.profileName1 {
  font-size: 15px;
  font-weight: 500;
  color: red;
  margin: 0 25px 0 10px;
}
.profileName1:hover {
  color: #bb93e1;
}
.postman1 img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.lifestyles {
  width: 100%;
}
.Lifeline {
  display: block;
  width: 220px;
  height: 2px;
  background-color: #f18510;
  margin-bottom: 1rem;
}
.Lifeline1 {
  display: block;
  width: 190px;
  height: 2px;
  background-color: #f18510;
  margin-bottom: 1rem;
}
.photo-ex1 {
  width: 90%;
}
.exercise-photo {
  position: relative;
}
.lifefirstphoto {
  position: relative;
}
.life-exbtn {
  position: absolute;
  left: 2rem;
  bottom: 30px;
  background-color: black;
  color: white;
  padding: 0.2rem 0.5rem;
}

.life-exbtn:hover {
  background: #8f43d5;
  color: black;
}

.paragraph h2 {
  font-size: 1.5rem;
  width: 90%;
}
.paragraph h2:hover {
  color: #8f43d5;
}

.paragraph h4 {
  font-size: 13px;
}

.paragraph p {
  font-size: 12px;
  width: 85%;
}

.paragraph p:hover {
  color: #8f43d5;
}

#lifestyles-New {
  display: grid;
  grid-template-columns: 70% 30%;
}

.sunset-photo {
  width: 95%;
  height: 150px;
}
.honey {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.honey-paragraph h1 {
  font-size: 15px;
}
.honey-paragraph h1:hover {
  color: #8f43d5;
}

.honey-paragraph p {
  font-size: 12px;
  width: 80%;
  margin-left: 0rem;
}
.honey-paragraph p:hover {
  color: #8f43d5;
}

.food-photo {
  width: 95%;
  height: 150px;
}

.food-paragraph h1 {
  font-size: 15px;
}
.food-paragraph h1:hover {
  color: #8f43d5;
}

.food-paragraph p {
  font-size: 12px;
  width: 80%;
}
.food-paragraph p:hover {
  color: #8f43d5;
}

.camera-photo {
  width: 95%;
  height: 150px;
}

.camera-paragraph h1 {
  font-size: 15px;
}
.camera-paragraph h1:hover {
  color: #8f43d5;
}
.camera-paragraph p {
  font-size: 12px;
  width: 80%;
}
.camera-paragraph p:hover {
  color: #8f43d5;
}

.beauty-photo {
  width: 95%;
  height: 150px;
  margin-top: 1rem;
}

.sponsered-1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.phone-photo {
  width: 95%;
  margin-top: 1rem;
  height: 130px;
}

.foodies-photo {
  width: 95%;
  margin-top: 1rem;
}

.sponsered-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.sponsered-3 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.thaw-1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.honey-1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.honey-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.honey-3 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content h1 {
  font-size: 15px;
  border-bottom: #f18510 3px solid;
  margin-top: 2rem;
  margin-right: 20rem;
  margin-left: 0rem;
}
.content h1:hover {
  color: #8f43d5;
}

.sponsered-1 p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.sponsered-1 p:hover {
  color: #8f43d5;
}
.sponsered-2 p {
  margin-top: 1rem;
}
.sponsered-2 p:hover {
  color: #8f43d5;
}

.sponsered-3 p {
  margin-top: 1rem;
}

.sponsered-3 p:hover {
  color: #8f43d5;
}

.sponsered-1 h6 {
  margin-top: 3rem;
  margin-left: 0rem;
  font-size: 0.8rem;
  color: red;
}
.sponsered-1 h6:hover {
  color: #8f43d5;
}

#icon-1 {
  color: black;
}

.sponsered-2 h6 {
  margin-top: 2rem;
  margin-left: 0.6rem;
  font-size: 0.8rem;
  color: red;
}
.sponsered-2 h6:hover {
  color: #8f43d5;
}

#icon-2 {
  color: black;
}

.sponsered-3 h6 {
  margin-top: 3rem;
  margin-left: 0.4rem;
  font-size: 0.8rem;
  color: red;
}
.sponsered-3 h6:hover {
  color: #8f43d5;
}

#icon-3 {
  color: black;
}

.sponsered-2 h3 {
  margin-top: -1.5rem;
  margin-left: 8rem;
  font-size: 0.8rem;
  color: black;
}
.sponsered-2 h3:hover {
  color: #8f43d5;
}
.sponsered-3 h3 {
  margin-top: -1.5rem;
  margin-left: 8rem;
  font-size: 0.8rem;
  color: black;
}
.sponsered-3 h3:hover {
  color: #8f43d5;
}
