.sidebar {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.main {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.postTech {
  display: grid;
  grid-template-columns: 40% 60%;
}
.Tech_img img {
  width: 250px;
  height: 180px;
}
.postTech_info {
  width: 90%;
}
.postTech_info h4 {
  margin-bottom: 0;
}
.postTech_info p {
  margin-bottom: 0;
}
