.top {
  display: flex;
  color: #747474;
}
.homelink1 {
  display: flex;
  color: #747474;
  line-height: 18px;
  padding: 0px 0px 0px 0px;
}
.top h4 {
  font-size: 15px;
}
.sectop h1 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
}

.tec {
  /* position: relative; */
  font-size: 11px;
  margin: 10px 15px 10px 0;
  padding: 4px 8px 5px 8px;
  background-color: #262e67;
  color: white;
  letter-spacing: 2px;
  top: 8px;
}
.tec:hover {
  background-color: var(--technology-bg);
  color: black;
}
.para {
  padding-right: 280px;
  font-family: "Open Sans", "Open Sans Regular", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  color: #777;
  margin-top: 18px;
}
/* .para:hover {
  color: #262e67;
} */
.firstphoto {
  position: relative;
  margin-right: 1rem;
  overflow: hidden;
  height: inherit;
}
.firstpara {
  position: absolute;
  /* left: 20px; */
  bottom: 0px;
  padding-top: 6rem;
  box-shadow: inset 10px -123px 51px -28px rgb(14 13 13 / 81%);
  padding-bottom: 1rem;
  padding-left: 40px;
}
/* .technologypart {
  background-color: var(--technology-bg);
  color: white;
} */
/* .technologypart:hover {
  background-color: #262e67;
  color: white;
} */
.firstpara h4 {
  color: white;
  font-size: 25px;
}
/* .firstpara h4:hover {
  color: #262e67;
} */
.firstpara p {
  font-size: 15px;
  color: white;
  width: 80%;
}
/* .firstpara p:hover {
  color: #262e67;
} */

.fbphoto .fbphoto:hover {
  transition: 1s;
}

.photo {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 480px;
  margin-bottom: 3rem;
}
.secphoto {
  display: grid;
  grid-template-rows: 49% 49%;
  height: inherit;
  gap: 2%;
}
.secrobot {
  position: relative;
}
.firstphoto .tech-firstphoto {
  width: 100%;
  height: 100%;
}
.firstphoto .tech-firstphoto .fbphoto {
  width: 100%;
  height: 100%;
  display: block;
}
.secphoto .tecsecdiv-firstphoto {
  width: 100%;
  height: 100%;
}
.secphoto .tecsecdiv-firstphoto .robotphoto {
  height: 100%;
  width: 100%;
  display: block;
}

.robotpara {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 4rem;
  box-shadow: inset 10px -123px 51px -28px rgb(14 13 13 / 81%);
  padding-bottom: 1rem;
  padding-left: 30px;
}
.robotpara h4 {
  font-size: 20px;
  color: white;
}
/* .robotpara h4:hover {
  color: #262e67;
} */
.secair {
  position: relative;
}
.airbudpara {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 4rem;
  box-shadow: inset 10px -123px 51px -28px rgb(14 13 13 / 81%);
  padding-bottom: 1rem;
  padding-left: 30px;
}
.airbudpara h4 {
  font-size: 20px;
  color: white;
  margin-right: 100px;
}
/* .airbudpara h4:hover {
  color: #262e67;
} */
.secair .tec-lastbannerphotos .airbudphoto {
  display: block;
  height: 100%;
  width: 100%;
}
.secair .tec-lastbannerphotos {
  width: 100%;
  height: 100%;
}
