.video-container {
  max-width: 1600px;
}
.Vsection {
  width: 100%;
}
.Viedosec {
  display: grid;
  grid-template-columns: 60% 40%;
}
.NewViedo {
  width: 100%;
}
aq .RecentViedo {
  width: 100%;
  padding: 10px 0px;
}
.RecentViedo h4 {
  padding: 5px;
  background: #ffe6cf;
}
.Video {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 20px 0;
}
.underline {
  display: block;
  width: 450px;
  height: 4px;
  background-color: #877867;
  margin-bottom: 1rem;
}
.btnViedo {
  margin: 2rem 34% 0;
  /* margin: 0px auto; */
  border: 1px solid #000;
  border-radius: 10px;
  color: rgb(4, 55, 99);
  background-color: rgb(238, 239, 245);
  font-weight: 800;
  transition: all 0.5s ease-in-out;
  padding: 0.5rem 2rem;
}
.btnViedo:hover {
  background-color: rgb(4, 55, 99);
  color: #fff;
}
.VideoTitle .minutes {
  font-weight: bold;
}
